body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

a {text-decoration: none; }

* {
  transition: all 0.3s ease;
}

/* Seamless Top Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px;
  z-index: 100; /* Ensures the navbar is always on top */
}

.nav-button {
  padding: 10px 20px;
  margin: 0 4px 0 4px;
  border: none;
  color: #151C62;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #151C62;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  color: whitesmoke;
}

/* Center Aligning Content */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 100px;
}

/* Header Section */
.header {
  font-family: Oswold, sans-serif;
  color: #151C62;
  justify-content: left;
  align-items: left;
}

.header p {
  font-size: 20px;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 60px;
}


/* The wrapper will stretch across the full width of the page */
.descriptionBoxWrap {
  background-color: #151C62; /* Blue background */
  height: 20vh; /* Full height of the page */
  width: 100%; /* Full width of the page */
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The inner box will center the content with left-aligned text */
.descriptionBox {
  max-width: 75%;
  padding: 40px;
  text-align: left;
  box-sizing: border-box;
}


/* Future Content Sections */
.future-content {
  margin-top: 40px;
  text-align: center;
}

.future-content h2 {
  color: #151C62;
  margin-bottom: 10px;
}

.future-content p {
  color: #D0D4DA;
}

.image-cropper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
