/* COLOR PALETTE 
MAIN: #181C14
SECONDARY: #3C3D37 #697565 #ECDFCC


*/

/* General Body Styles */
body {
  background-color: #181C14;
  color: #ECDFCC;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {text-decoration: none; }

/* Seamless Top Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px;
  z-index: 100; /* Ensures the navbar is always on top */
}

.nav-button {
  padding: 10px 20px;
  margin: 0 4px 0 4px;
  border: none;
  color: whitesmoke;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #697565;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* Center Aligning Content */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 100px;
}

/* Header Section */
.header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: whitesmoke;
  margin: 0;
}


/* Short Bio Description Box */
.descriptionBox {
  background-color: #3C3D37;
  padding: 20px 20px 20px 300px;
  width: 100%;
  color: whitesmoke;
  flex-shrink: 1; /* Ensures the box won't grow larger than set width */
  box-shadow: 
  0 2px 5px #3C3D37, 0 -2px 5px #3C3D37
  ;
}


/* Future Content Sections */
.future-content {
  margin-top: 40px;
}

.future-content h2 {
  color: whitesmoke;
  margin-bottom: 10px;
}

.future-content p {
  color: #D0D4DA;
}

/* Smooth transitions for interactive elements */
* {
  transition: all 0.3s ease;
}
